*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e9874a, #53124e);
    color: #fff;
    scroll-behavior: smooth;
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 18px 10%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    position: fixed;
    top:0;
    width:100%;
    z-index:1000;
}

.navbar a{
    margin-left: 20px;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
}

.nav-left{
    font-size: 1.4rem;
}


.hero{
    height:100vh;
    display:flex;
    align-items:center;
    padding-top: 100px;
}

.hero-wrapper{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.hero-content{
    width:50%;
    animation: slideLeft 1s ease-out;
}

.hero-content h1{
    font-size:15rem;
}
.hero-content h2{
    font-size:10rem;
    color:#ff8bb6;
    animation-duration: 1.0s;
}

.hero-content h3{
    font-size:3rem;
    color:#8ddfba;
}

.cta{
    padding:12px 25px;
    background:#ff8bb6;
    color:black;
    border-radius:8px;
    font-weight:bold;
    margin-right:10px;
}
.cta2{
    padding:12px 25px;
    background:#8ddfba;
    color:black;
    border-radius:8px;
    font-weight:bold;
}

.hero-image{
    width:40%;
    display:flex;
    justify-content:center;
    animation: slideRight 1s ease-out;
}
.hero-image img{
    width:100%;
    max-width:450px;
     border-radius:20px;
    box-shadow:0 5px 25px rgba(0,0,0,0.5);
}


.section{
    padding:100px 10%;
    text-align:center;
    opacity:0;
    transform:translateY(40px);
    transition:0.8s ease;
}
.section.visible{
    opacity:1;
    transform:translateY(0);
}

.skills-grid{
    display:flex;
    justify-content:center;
    gap:20px;
}
.skill-card{
    background:rgba(255,255,255,0.15);
    padding:15px 25px;
    border-radius:10px;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}


.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(260px, 1fr));
    gap:30px;
}

.card{
    background:#ffffff15;
    backdrop-filter:blur(8px);
    padding:20px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.4);
    transition:0.3s;
}
.card:hover{
    transform:scale(1.05);
}
.card img{
    width:100%;
    border-radius:12px;
    margin-bottom:10px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
    margin:auto;
}
.contact-form input,
.contact-form textarea{
    padding:12px;
    border-radius:8px;
    border:none;
}
.contact-form button{
    padding:12px;
    background:#8ddfba;
    color:black;
    border-radius:8px;
    font-weight:bold;
}


.footer{
    padding:20px;
    text-align:center;
    background:#00000060;
}


@keyframes slideLeft{
    from{opacity:0; transform:translateX(-60px);}
    to{opacity:1; transform:translateX(0);}
}

@keyframes slideRight{
    from{opacity:0; transform:translateX(60px);}
    to{opacity:1; transform:translateX(0);}
}